<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Face Recognition Service API</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js" ></script>
    <style>
.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 35px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}
.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}
    </style>
    <script lang="Javascript">
        $( document ).ready(function() {
            $(".progress-container").hide();
            validateStatus();// With JQuery
            $( "#slider" ).slider({
                value:0.5,
                min: 0.05,
                max: 0.97,
                step: 0.025,
                slide: function( event, ui ) {
                    $( "#tolerance" ).val(ui.value);
                }
            });
            //If slider is changed update backend
            $( "#slider" ).mouseup(function() {
                $.LoadingOverlay("show")
                $.get( "/edit/tolerance?value="+$( "#slider" ).slider( "value" ), function(data){
                    $.LoadingOverlay("hide")
                    location.reload(true);
                });
            });
            //Set slider init value
            $("#slider").slider('value',{{ tolerance }});
            //Update the text
            $( "#tolerance" ).val($( "#slider" ).slider( "value" ));
        });

        var validateTimer = null;
        function validateStatus(){
            //Check if it is running
            $.get( "/status", function( data ) {
                if (data.running){
                    $(".progress-container").show();
                    $(".progress-bar").css('width', data.percentage+'%');
                    $("#retrain_button").attr("disabled", true)
                    if (validateTimer == null)
                        validateTimer = setInterval(validateStatus, 10000);
                } else {
                    $(".progress-container").hide();
                    clearInterval(validateTimer);
                    validateTimer = null;
                    $("#retrain_button").attr("disabled", false)
                }
            });
        }

        function retrain(){
            //Call retrain and then pull for status
            $.ajax({
                type: "POST",
                url: "/retrain",
                data: "",
                success: function(data){
                    //Hide progressbar
                    console.log("training completed");
                },
                dataType: "text"
            });
            $("#retrain_button").attr("disabled", true)

            //Give time for initialization
            setTimeout(validateStatus, 5000);
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Face Recognition Service API</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form method="post" action="{{ url_for('upload') }}" enctype="multipart/form-data"  onsubmit="$.LoadingOverlay('show')">
                    <div class="form-group files">
                        <label>Upload Your Image </label>
                        <input type="file" name="file" class="form-control" multiple="" accept="image/*;capture=camera">
                    </div>
                    <input type="hidden" name="saveResult" value="true"/>
                    <input type="submit" name="submit"/>&nbsp;&nbsp;<input type="button" id="retrain_button" value="Retrain" onclick="retrain();" style="float: right;"/>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 progress-container">
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" style="width:0%"></div>
                    </div>
                </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 ">
            Tolerance: <input type="text" id="tolerance" readonly style="border:0;" />
            <div id="slider"></div>
        </div>
</div>
</div>

    {% if show_unrecognized %}
    <div class="container">

        <div class="row">
    
            <div class="col-lg-12">
                <h2 class="page-header">Unrecognized Gallery</h2>
            </div>
            <hr>
            {% for image_name in image_names %}
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <img class="img-responsive" src="{{url_for('send_image', directory='unrecognized', filename=image_name)}}" style="width: 200px">
                <form>
                {% for person in persons%}
                    <input type="button" value="{{person}}" onclick="location.href='{{ url_for('move_image') }}?image={{image_name}}&folder={{person}}';"/>
                {% endfor %}
                <input type="button" value="DELETE" onclick="location.href='{{ url_for('move_image') }}?image={{image_name}}&delete=1';"/>
                </form>
        </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if show_result %}
    <div class="container">

        <div class="row">
    
            <div class="col-lg-12">
                <h2 class="page-header">Latest Result</h2>
            </div>
            <hr>
            {% for image_name in result_names %}
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <img class="img-responsive" src="{{url_for('send_image', directory='result', filename=image_name)}}" style="width: 200px">
        </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2">No match in the latest query</h2>
                </div>
                <hr>
            </div>
        </div>
    
    {% endif %}
</body>

</html>